.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.modal__title {
  font-size: 45px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.modal__input {
  width: 50%;
  background: #332d43;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 20px;
  border: 0;
  color: white;
  font-size: 18px;
}

.modal__input::placeholder {
  font-size: 18px;
  color: #bfbfbf;
}

.modal__btn {
  padding: 15px;
  border-radius: 30px;
  border: 0;
  margin-bottom: 20px;
  background: #5dff38;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.h1 {
  color: #5dff38;
  font-size: 120px;
  margin-top: 80px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  margin-bottom: 60px;
}