body {
  min-height: 100vh;
  overflow: hidden;
  /* background-color: #12bdac; */
  background-color: #161c22;
}
.container {
  width: 100%;
  max-width: 600px;
  height: 100vh;
  padding: 20px;
  margin: 0 auto;
}